<configuration>
  <property name="timestamp" value="yyyy-MM-dd HH:mm:ss" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %highlight(%-5level) %d{${timestamp}} %cyan(%logger{15}) %yellow(%mdc) - %msg %n</pattern>
    </encoder>
  </appender>
  <logger name="kinesis.mock" level="${LOG_LEVEL:-INFO}"/>
  <root level="${ROOT_LOG_LEVEL:-ERROR}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
